.flexbox {
    border: 2px solid black; 
    padding: 4px; 
    background-color: blue;

    display: flex; 

    /* Same */
    flex-direction: row;
    flex-wrap: wrap; 

    /* Same */
    /* flex-flow: row wrap;  */
    
    justify-content: start;
    /* Default => stretch */
    align-items: start; 

    /* Only when wraaping */
    /* Spacing between the lines */
    align-content: space-between; 

    /* height: 400px;  */
}

/* main vs cross axis, switch */
/* justify-content (main), align-items (cross) */
/* flex-wrap */
/* flex-grow (0, 1, 2, N), shrink */
/* align-self */
/* flex-flow: flex-direction flex-wrap */

.item {
    background-color: aqua;
    border: 2px solid black; 
    /* width: 200px;  */

}

/* Items can have flex properties too */
/* Total parts = 3 */
/* .one => 1 */
/* .one: 1/3 = 33% */

/* TP = 5 + 0 + 1 = 6 */
/* one => 5/6 => 84% */
/* three => 16% */

/* TP = 1 + 3 + 1 = 5 */
/* one => 1/5 : 20% of lost space will be from one */
/* two => 3/5 : 60% of lost space will be from two */
.one {
    min-height: 50px; 
    
    /* width: 300px;  */
    /* sets width when flex-direction */
    /* is row */
    flex-basis: 300px; 
    /* flex-grow: 5; 
    flex-shrink: 1;  */

    /* flex: flex-grow flex-shrink flex-basis */
    
}
.two {
    min-height: 100px; 
    align-self: start; 
    /* flex-grow: 0; 
    flex-shrink: 3;  */


    
}
.three {
    min-height: 150px; 
    /* flex-grow: 1; 
    flex-shrink: 1;  */



}